.pagination-links {
	margin: 30px 0;
}

a.pagination-links {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

.pagination-links strong {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

.navbar-inverse {
	background-color: white !important;
	border-color: white !important;
}

.navbar-brand {
	color: #2d3436 !important;
}

.navbar-brand:hover {
	color: white !important;
}

.navbar-inverse .navbar-nav > li > a {
	color: #2d3436 !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: white !important;
}

.navbar-inverse .navbar-nav > li > a:focus {
	color: white !important;
}

@media (max-width: 760px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #2d3436 !important;
	}
}

.row {
	margin-right: 1px !important;
	margin-left: 1px !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #e53c37 !important;
}

.navbar-inverse .navbar-toggle {
	background-color: white !important;
}

.navbar-brand:hover {
	background-color: white !important;
}

.navbar-brand:focus {
	background-color: white !important;
}

.hover-zoom {
	transition: transform 0.3s;
}

/* Custom ripple effect for "ripple-surface" */
.ripple-surface {
	position: relative;
	overflow: hidden;
}

.ripple-surface::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	transform: translate(-50%, -50%) scale(0);
	border-radius: 20%;
	pointer-events: none;
	transition: transform 0.3s;
}

.ripple-surface:hover::after {
	transform: translate(-50%, -50%) scale(2);
}

/* Custom ripple effect for "ripple-surface-light" */
.ripple-surface-light {
	position: relative;
	overflow: hidden;
}

.ripple-surface-light::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.178);
	transform: translate(-50%, -50%) scale(0);
	border-radius: 20%;
	pointer-events: none;
	transition: transform 0.3s;
}

.ripple-surface-light:hover::after {
	transform: translate(-50%, -50%) scale(2);
}

.card {
	position: relative;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	box-shadow: 4px 4px 9px 0px;
}

/* Styling for the card header */
.card-header {
	padding: 0.75rem 1.25rem;
	background-color: #f7f7f7;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

/* Styling for the card body */
.card-body {
	padding: 1rem;
}

/* Styling for the card title */
.card-title {
	font-size: 1.25rem;
	font-weight: bold;
}

/* Styling for the card text content */
.card-text {
	font-size: 1rem;
}

/* Styling for the card footer */
.card-footer {
	padding: 0.75rem 1.25rem;
	background-color: #f7f7f7;
	border-top: 1px solid rgba(0, 0, 0, 0.125);
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.image-container {
	position: relative;
	display: inline-block;
}

/* Styling for the overlay */
.hover-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(
		0,
		0,
		0,
		0.5
	); /* Adjust the opacity and color to your preference */
	opacity: 0; /* The overlay is initially hidden */
	transition: opacity 0.3s ease;
}

/* Show the overlay on hover */
.image-container:hover .hover-overlay {
	opacity: 1;
}

/* Text content on the overlay */
.overlay-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.w-100 {
	width: 100%;
}

.bg-image {
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.card .bg-image {
	border-top-left-radius: var(--mdb-card-border-radius);
	border-top-right-radius: var(--mdb-card-border-radius);
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#imageviewer:hover {
	cursor: pointer !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.small {
	font-size: 0.875em;
}

.align-items-center {
	align-items: center !important;
}

.fw-bolder {
	font-weight: bolder !important;
}

@media (min-width: 1200px) {
	.display-5 {
		font-size: 3rem;
	}
}

.text-decoration-line-through {
	text-decoration: line-through !important;
}

.lead {
	font-size: 1.125rem;
	font-weight: 300;
	text-align: justify;
}

@media (min-width: 1100px) {
	.lead {
		font-size: 18px;
	}
}

.d-flex {
	display: flex !important;
}

.text-center {
	text-align: center !important;
}

.me-3 {
	margin-right: 1rem !important;
}

.flex-shrink-0 {
	flex-shrink: 0 !important;
}

.fs-5 {
	font-size: 1.5rem !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}
